.expenses-filter {
    color: white;
    padding: 0 1rem;
}

.expenses-filter__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}